<form action ="/agaya" method = "POST" enctype="multipart/form-data">
     <h1>Submit</h1>
    <p>Image</p>
    <input type="file" id="filename" name="filename">
     <button>Submit</button>
</form>


<!-- <form action ="/download" method = "POST" enctype="multipart/form-data">
     <h1>Check</h1>
    <p>Image</p>
     <input type="text" id='myname' name='myname'>
     <button>chcek file</button>
</form>  -->


<form action ="/public" method = "POST" enctype="multipart/form-data">
     <h1>Enter public key</h1>
    <p>Public key</p>
     <input type="text" id='public' name='public'>
     <button>check public key file</button>
</form>
